<div id="navigation">
<hr noshade>
<table><tr>
    <td class="navtext">Browse&nbsp;&#x25B8;</td>
        <td class="linked"><a>Topics</a>
          <ul>
            <li><a href="/topic_presence">Relative Presence</a></li>
            <li><a href="/topic/random">Random Topic</a></li>
          </ul>
        </td>
        <td class="linked"><a>Documents</a>
          <ul>
            <li><a href="/doc/random">Random Document</a></li>
          </ul>
        </td>
        <td class="linked"><a>Terms</a>
          <ul>
            <li><a href="/term/random">Random Term</a></li>
           </ul>
        </td>
        <td class="linked"><a>About</a>
          <ul>
            <li><a href="/stats">Stats</a></li>
          </ul>
        </td>
    </td>
    <td></td>
</tr></table>
</div>
