<html>
<head>
    <script language="JavaScript" src="http://code.jquery.com/jquery-1.4.4.js"></script>
    <script language="JavaScript" src="/static/js/pie.js"></script>
    <script language="JavaScript" src="/static/js/search.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>Stats</title>

    <link href="/static/css/styling.css" rel="stylesheet" type="text/css">
</head>

<body>
{{ nav_bar|safe }}

    <div id="top"></div>

    <h1 id="header">
        <table><tr>
            <td id="title">Wikipedia Online LDA Stats</td>
        </tr></table>

        <hr noshade>
    </h1>

    <div id="main">
        <table>
            <tr><td width="210px">
            Model started running at {{ start_time }}, and has run {{ start_time|timesince:last_update }}.
            <br>Last update at {{ last_update }}, or {{ last_update|timesince}} ago.
            <br>{{ num_batches }} Batches Completed
            <br>{{ num_docs }} Documents
            <br>{{ num_topics }} Topics
            <br>{{ num_terms }} Terms
            </td></tr>
        </table>
    </div>

    <div id="footer">
        <br>
        <hr noshade>
    </div>
</body>
</html>
